@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 200deg 60% 50%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 0deg 60% 50%;
		--theme-accent-2: 0deg 60% 50%;
		--theme-quote: 0deg 60% 50%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 0deg 60% 50%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 200deg 60% 50%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 200deg 60% 50%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}
